body {

    background-color: rgb(0, 118, 187);

}

header {

    text-align: center;
    color: aliceblue;

}

* {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

section {

    background-color: bisque;
    width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px black;
    text-align: center;

}

footer {

    margin-top: 20px;
    text-align: center;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#nota1, #nota2, #nota3, #nota4 {
    width: 80px;
    border-radius: 10px;
    border-color: aliceblue;
    border-style: dashed;
    background-color: aliceblue;

}

#res {
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-style: dashed;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue
}

#clean {
    
    border-radius: 10px;
    border-color: aliceblue;
    border-style: dashed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;

}

#notas {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#msg {
    text-align: left;
}
